.page-header
  %h1= t('headers.ignorlists.index')

%table
  %thead
    %tr
      %th= Ignorlist.human_attribute_name(:schedule)
      %th= Ignorlist.human_attribute_name(:station)
      %th
      %th
      %th

  %tbody
    - @ignorlists.each do |ignorlist|
      %tr
        %td= ignorlist.schedule
        %td= ignorlist.station
        %td= link_to 'Show', ignorlist
        %td= link_to 'Edit', edit_ignorlist_path(ignorlist)
        %td= link_to 'Destroy', ignorlist, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ignorlist', new_ignorlist_path
