= form_for @station do |f|
  - if @station.errors.any?
    #error_explanation
      %h2= "#{pluralize(@station.errors.count, "error")} prohibited this station from being saved:"
      %ul
        - @station.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-5
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
    .col-md-5
      .form-group
        = f.label :tariff
        = f.text_field :tariff, class: 'form-control'
    .col-md-2
      = f.label :order_num
      = f.number_field :order_num, class: 'form-control'

  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'
