%h1 Listing layovers

%table
  %thead
    %tr
      %th Arrive time
      %th Ignor
      %th Schedule
      %th Station
      %th
      %th
      %th

  %tbody
    - @layovers.each do |layover|
      %tr
        %td= layover.arrive_time
        %td= layover.ignor
        %td= layover.schedule
        %td= layover.station
        %td= link_to 'Show', layover
        %td= link_to 'Edit', edit_layover_path(layover)
        %td= link_to 'Destroy', layover, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Layover', new_layover_path
