%p#notice= notice

%p
  %b Arrive time:
  = @layover.arrive_time
%p
  %b Ignor:
  = @layover.ignor
%p
  %b Schedule:
  = @layover.schedule
%p
  %b Station:
  = @layover.station

= link_to 'Edit', edit_layover_path(@layover)
\|
= link_to 'Back', layovers_path
