=breadcrumb_tag do
  %li.active
    = t('headers.schedules.index')
  %li
    Меню
.page-header
  %h1= t('headers.schedules.index')

%table.table.table-hover.table-striped
  %thead
    %tr
      %th= Schedule.human_attribute_name(:mon)
      %th= Schedule.human_attribute_name(:tue)
      %th= Schedule.human_attribute_name(:wed)
      %th= Schedule.human_attribute_name(:thu)
      %th= Schedule.human_attribute_name(:fri)
      %th= Schedule.human_attribute_name(:sat)
      %th= Schedule.human_attribute_name(:sun)
      %th= Schedule.human_attribute_name(:station_begin)
      %th= Schedule.human_attribute_name(:station_end)
      - if user_access
        %th

  %tbody
    - @schedules.each do |schedule|
      %tr
        %td.center= ru_boolean(schedule.mon)
        %td.center= ru_boolean(schedule.tue)
        %td.center= ru_boolean(schedule.wed)
        %td.center= ru_boolean(schedule.thu)
        %td.center= ru_boolean(schedule.fri)
        %td.center= ru_boolean(schedule.sat)
        %td.center= ru_boolean(schedule.sun)
        %td.center= schedule.station_begin.name
        %td.center= schedule.station_end.name
        - if user_access
          %td.right
            = link_to 'Показать', schedule
            = link_to 'Изменить', edit_schedule_path(schedule)
            = link_to 'Удалить', schedule, method: :delete, data: { confirm: 'Вы уверены?' }

%br
- if user_access
  = link_to 'Новый график', new_schedule_path
