=breadcrumb_tag do
  %li.active
    = @schedule.station_begin.name + ' - ' + @schedule.station_end.name
  %li 
    = link_to "График", schedules_path()
  %li
    Меню
    
.page-header
  %h1= @schedule.station_begin.name + ' - ' + @schedule.station_end.name
 

%p
  %b= Schedule.human_attribute_name(:mon) 
  = ru_boolean(@schedule.mon)
%p
  %b= Schedule.human_attribute_name(:tue)
  = ru_boolean(@schedule.tue)
%p
  %b= Schedule.human_attribute_name(:wed)  
  = ru_boolean(@schedule.wed)
%p
  %b= Schedule.human_attribute_name(:thu)
  = ru_boolean(@schedule.thu)
%p
  %b= Schedule.human_attribute_name(:fri)
  = ru_boolean(@schedule.fri)
%p
  %b= Schedule.human_attribute_name(:sat)
  = ru_boolean(@schedule.sat)
%p
  %b= Schedule.human_attribute_name(:sun)
  = ru_boolean(@schedule.sun)
%p
  %b= Schedule.human_attribute_name(:station_begin)
  = @schedule.station_begin.name
%p
  %b= Schedule.human_attribute_name(:station_end)
  = @schedule.station_end.name
  
- if user_access
  = link_to 'Изменить', edit_schedule_path(@schedule)
  \|
= link_to 'Вернуться', schedules_path
      
      
      
